<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sarzhane.e.stopfundwar_android">

    <!-- Make sure the device has a camera. If you use android.hardware.camera without .any,
          it will not work if you have a device without a back camera, such as most Chromebooks. -->
    <uses-feature android:name="android.hardware.camera.any" />

    <!-- Specifying that the app will need camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".core.application.MainApp"
        android:allowBackup="true"
        android:icon="@drawable/splash_logo_vector"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash_logo_vector"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stopfundwar_android">
        <activity
            android:name=".presentation.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>